{{define "education-section"}}
<section class="education" aria-labelledby="educationHeader">
    <h3 id="educationHeader">Education</h3>
    <div id="education" class="content">{{.}}</div>
</section>
{{end}}
