{{define "languages-section"}}
    <!-- languages -->
    <section class="languages" aria-labelledby="languagesHeader">
        <h3 id="languagesHeader">Languages</h3>

        <div id="languages" class="content">
            <ul class="list">
                {{range .Languages}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        </div>
    </section>
{{end}}